@import "tailwindcss";
.custom-scrollbar::-webkit-scrollbar { width: 6px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #e2e8f0; border-radius: 10px; }

.swal2-popup {
  border-radius: 24px !important; /* Yahan apni marzi ka radius dein */
  font-family: 'Inter', sans-serif !important;
}

.swal2-confirm, .swal2-cancel {
  border-radius: 12px !important;
  text-transform: uppercase;
  font-weight: 800 !important;
  letter-spacing: 0.5px;
}